.slide-in-left {
    animation: slideInLeft 1s forwards;
  }
  #about{
    overflow: hidden;
  }
  .slide-out-left {
    animation: slideOutLeft 1s forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 1s forwards;
  }
  
  .slide-out-right {
    animation: slideOutRight 1s forwards;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  

  .about_img_one{
    position: relative;
}
.about_img_one:before{
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    z-index: 1;
    top: -8px;
    left: -6px;
    /* border: 1px  solid red; */
    border-top: 38px solid #0f1a2e;
    border-left: 38px solid #0f1a2e;
    border-right: 38px solid transparent;
    border-bottom: 38px solid transparent;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
  .about_img_two{
    position: relative;
    border: 5px solid #0f1a2e;
}
.fade_right h1{
  font-size: 50px;
  font-weight: 800;
  line-height: 57px;
  letter-spacing: -2px;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(-40deg, #db9b1e 0%, #C0D4C9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.about_img_two:before{
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    z-index: 1;
    top: -8px;
    left: -6px;
    /* border: 1px  solid red; */
    border-top: 38px solid #0f1a2e;
    border-left: 38px solid #0f1a2e;
    border-right: 38px solid transparent;
    border-bottom: 38px solid transparent;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.about_img{
  position: relative;
  animation: moveUpDown 3.5s infinite alternate cubic-bezier(0.25, 0.1, 0.25, 0.2);
}
.fade_left{
  background-image: url(../../assets/gateway.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); /* Adjust the vertical distance as needed */
  }
}
/* linear-gradient(161deg, #FDED5C 0%, #8ED3FF 64.16%, #08F 100%) */
.about_circle{
background: linear-gradient(161deg, #FDED5C 0%, #8ED3FF 64.16%, #08F 100%);
}