.news_button:before {
  transition: all 0.3s ease;
  z-index: -1;
}

.news_button:hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #04061c;
  color: #fff;
  z-index: 1;
  background: linear-gradient(60deg, #01003A 0%, #04061c 100%);
  padding: 14px 18px 14px 18px !important;
  transition: all 0.3s ease;
  text-align: center;
}
.newsletter_container{
  font-family: "Geist", sans-serif;
}